body{
    margin: 0;
    padding: 0;
}
.parallax{
    min-height: 100vh;
    display: flex;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.pic1{
    background-image: url(https://i.pinimg.com/736x/7a/ea/0d/7aea0d81c9c0b361ee94ffc625194c0e.jpg);
}
.pic2{
    background-image: url(https://i.pinimg.com/736x/e9/a1/df/e9a1df5e09c0522dd804e7fe69766bea.jpg);
}
.blackbox{
    background-color: black;
    color: white;
    text-align: center;
    padding: 150px 20px;
    width: 100%;
    box-sizing: border-box;
}